Repository iog-creator/Gemantria: changes, and which pre-commit hooks are due for each by the changed paths.
All: share-sync-hook, agents-md-sync-check

share-sync-hook:
  name: share sync (auto-sync tracked files)
  entry: bash scripts/guards/share_sync_hook.sh
  language: system
  pass_filenames: false
  stages:
  - commit

agents-md-sync-check:
  name: AGENTS.md sync check (fail-closed)
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && PYTHONPATH=. python scripts/check_agents_md_sync.py --staged'
  language: system
  pass_filenames: false
  stages:
  - commit

fix(guards): use capture_output in subprocess calls
  scripts/guards/guard_gotchas_index.py
Due: agents-md-sync-check

feat(bootstrap): upgrade PM bootstrap system with registry + dynamic phase detection
  scripts/kb/tag_registry_ssot_phase.py
  scripts/pm/generate_pm_bootstrap_state.py
  share/PM_BOOTSTRAP_STATE.json
  share/kb_registry.json
Due: agents-md-sync-check

fix(docs): fix deprecated namespace references and registry overwrite bug
  GEMINI.md
  Makefile
Due: none

Phase 23.4: Enforce backup guard on housekeeping/share.sync and whitelist restored docs
  Makefile
  scripts/sync_share.py
Due: agents-md-sync-check

Fix: Update bootstrap generator for Phase 23 schema safety
  scripts/pm/generate_pm_bootstrap_state.py
Due: agents-md-sync-check

fix: Phase 24 remediation polish + restore mcp.proof.snapshot target
  Makefile
  pr_summary.md
  scripts/guards/guard_dms_share_alignment.py
  scripts/guards/guard_share_sync_policy.py
  share/HANDOFF_KERNEL.json
  share/PM_BOOTSTRAP_STATE.json
  share/REALITY_GREEN_SUMMARY.json
  share/handoff/PM_KERNEL.json
  share/handoff/PM_SUMMARY.md
Due: agents-md-sync-check

feat(phase27g): add root surface guard and clean repo hygiene
  .gitignore
  Makefile
  docs/SSOT/PHASE27_INDEX.md
  docs/SSOT/ROOT_SURFACE_ALLOWLIST.txt
  docs/SSOT/SHARE_FOLDER_ANALYSIS.md
  scripts/guards/guard_reality_green.py
  scripts/guards/guard_root_surface_policy.py
  share/handoff/pr/PR-599.md
Due: agents-md-sync-check

fix(phase27h): add .PHONY declarations for guard.root.surface and guard.pm_boot.surface
  Makefile
  scripts/pm/generate_pm_boot_surface.py
Due: agents-md-sync-check

feat(phase27i): ADR directory namespace guard
  Makefile
  docs/ADRs/029-remove-legacy-scripts.md
  docs/ADRs/030-db-seeded-noun-source.md
  docs/ADRs/ADR-063-code-exec-ts.md
  docs/ADRs/ADR-064-rfc3339-fast-lane.md
  scripts/guards/guard_directory_namespace_policy.py
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
Due: agents-md-sync-check

feat(phase27i): schemas namespace guard
  docs/SSOT/DIRECTORY_DUPLICATION_MAP.md
  docs/SSOT/PHASE27I_DIRECTORY_UNIFICATION_PLAN.md
  docs/schemas/SCHEMA.md
  scripts/AGENTS.md
  scripts/export_stats.py
  scripts/guards/guard_directory_namespace_policy.py
  scripts/ingest_docs.py
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
Due: agents-md-sync-check

feat(phase27j): PM State Package contracts and pm_boot export
  docs/SSOT/CURSOR_WORKFLOW_CONTRACT.md
  docs/SSOT/EXECUTION_CONTRACT.md
  docs/SSOT/PM_AND_OPS_BEHAVIOR_CONTRACT.md
  docs/SSOT/PM_BEHAVIOR_CONTRACT.md
  docs/SSOT/PM_BOOT_CONTRACT.md
  docs/SSOT/PM_STATE_PACKAGE_SPEC.md
  scripts/pm/generate_pm_boot_surface.py
  share/pm_boot/PM_STATE_PACKAGE_SPEC.md
Due: agents-md-sync-check

chore(ci): fix ruff E402 in legacy adapters
  docs/SSOT/LEGACY_DIRECTORY_CLEANUP_PLAN.md
  docs/research/AGENTS.md
  pmagent/ai_docs/reality_check_ai_notes.py
  pmagent/biblescholar/bible_db_adapter.py
  pmagent/kernel/AGENTS.md
  pr-27i-schemas.md
  pr-27j-pm-state-package-contracts.md
  ruff.toml
  scripts/pm/generate_pm_boot_surface.py
  share/HANDOFF_KERNEL.json
  share/PHASE27A_IMPLEMENTATION_EVIDENCE.md
  share/REALITY_GREEN_SUMMARY.json
  share/exports/repo/quarantine_candidates.json
  share/exports/repo/reunion_plan.json
  share/exports/repo/semantic_inventory.json
Due: agents-md-sync-check

chore(ci): scope ruff to governed paths and clean remaining core lint
  AGENTS.md
  docs/SSOT/GITHUB_WORKFLOW_CONTRACT.md
  pmagent/biblescholar/reranker_adapter.py
  pmagent/biblescholar/tests/test_reranker_adapter.py
  pmagent/control_plane/doc_fragments.py
  pmagent/control_plane/exports.py
  pmagent/control_plane/sessions.py
  pmagent/docs/search.py
  pmagent/guarded/guard_shim.py
  pmagent/reality/check.py
  ruff.toml
Due: share-sync-hook, agents-md-sync-check

fix: relocate stray PR notes to share/handoff/pr per root-surface policy
  share/handoff/pr/pr-27i-schemas.md
  share/handoff/pr/pr-27j-pm-state-package-contracts.md
Due: none

fix: relocate root surface violations to share/handoff per policy
  share/handoff/PM_HANDOFF_PROTOCOL.md
  share/handoff/SHARE_FOLDER_ANALYSIS.md
Due: none

fix(ruff): replace bare except with except Exception in guard_reality_green.py
  scripts/guards/guard_reality_green.py
Due: agents-md-sync-check

fix: exclude archive/ from pre-commit ruff and add global dump_bash_state filter
  .pre-commit-config.yaml
  scripts/prepare_handoff.py
  scripts/util/filter_stderr.py
  scripts/util/filter_stderr.sh
Due: agents-md-sync-check

chore: tame ruff E402 in tests and gate dump-bash-state debug
  pmagent/tests/cli/test_pmagent_plan_kb.py
  pmagent/tests/cli/test_pmagent_plan_kb_fix.py
  pmagent/tests/cli/test_pmagent_status_kb.py
  pmagent/tests/kb/test_freshness.py
  pmagent/tests/kb/test_registry.py
  pmagent/tests/status/test_explain_kb.py
  pmagent/tests/status/test_kb_hints.py
  scripts/guards/guard_reality_green.py
  scripts/prepare_handoff.py
  scripts/util/filter_stderr.py
Due: agents-md-sync-check

chore: globally filter dump_bash_state noise in all subprocess calls
  scripts/branch_health_report.py
  scripts/ci/soft_checks.py
  scripts/guard_all.py
  scripts/pm_snapshot.py
  scripts/util/filter_stderr.py
Due: agents-md-sync-check

fix: correct import order in control_plane modules (PEP 8)
  pmagent/control_plane/doc_fragments.py
  pmagent/control_plane/exports.py
  pmagent/control_plane/sessions.py
Due: agents-md-sync-check

chore(ci): sync AGENTS and kernel bundle after hygiene remediation
  share/AGENTS.md
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
Due: agents-md-sync-check

chore(ci): update kernel surfaces after reality.green regeneration
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
Due: none

chore(ci): sync kernel bundle with passing reality.green
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
Due: none

chore(ci): sync kernel bundle and fix ruff violations in pmagent/
  pmagent/handoff/commands.py
  pmagent/handoff/kernel.py
  pmagent/modules/gematria/core.py
  pmagent/modules/gematria/hebrew.py
  pmagent/modules/gematria/verification.py
  pmagent/obs/tv.py
  pmagent/scripts/docs_archive_apply.py
  pmagent/scripts/docs_archive_dryrun.py
  pmagent/scripts/docs_classify_direct.py
  pmagent/scripts/docs_dm002_summary.py
  pmagent/scripts/docs_dm002_sync.py
Due: agents-md-sync-check

chore(27.I): doc hygiene batch1A - inventory and classification report
  share/cleanup/doc_hygiene_batch1_report.md
  share/cleanup/doc_inventory_phase27i_batch1.json
Due: none

chore(27.I): doc hygiene batch1A - align DMS and reality.green
  docs/analysis/DOC_HYGIENE_PHASE27I_INVENTORY.json
  docs/analysis/DOC_HYGIENE_PHASE27I_REPORT.md
  docs/research/AGENTS.md
  pmagent/kernel/AGENTS.md
  share/HANDOFF_KERNEL.json
  share/PHASE27A_IMPLEMENTATION_EVIDENCE.md
  share/REALITY_GREEN_SUMMARY.json
Due: agents-md-sync-check

chore(27.I): doc hygiene batch1B - archive initial unhelpful docs
  archive/docs_legacy/ADR-022-system-enforcement-bridge.md
  archive/docs_legacy/DATA_FLOW_DIAGRAM.md
  archive/docs_legacy/HANDOFF_2025-12-01_github_recovery.md
  archive/docs_legacy/PHASE10_RETROSPECTIVE.md
  archive/docs_legacy/README_FULL.md
  archive/docs_legacy/share_scripts_AGENTS.md
Due: agents-md-sync-check

chore(27.I): doc hygiene batch2 - relocate forest overview and prompting guide
  docs/analysis/PROMPTING_GUIDE.md
  docs/analysis/forest_overview.md
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
Due: agents-md-sync-check

chore(27.I): doc hygiene batch2 - relocate forest overview and prompting guide
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
  share/scripts_AGENTS.md
Due: agents-md-sync-check

chore(27.I): doc hygiene batch3 - DMS-aware policy for scripts_AGENTS
  docs/SSOT/SHARE_FOLDER_ANALYSIS.md
  docs/analysis/DOC_HYGIENE_PHASE27I_REPORT.md
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
  share/handoff/PM_KERNEL.json
Due: agents-md-sync-check

chore(27.I): doc hygiene batch4A - DMS-driven doc registry report
  docs/analysis/DOC_HYGIENE_PHASE27I_DMS_EXPORT.json
  docs/analysis/DOC_HYGIENE_PHASE27I_DMS_REPORT.md
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
Due: agents-md-sync-check

chore(27.I): doc hygiene batch4B - DMS forensics (read-only)
  docs/analysis/DOC_HYGIENE_PHASE27I_DMS_FORENSICS.md
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
Due: agents-md-sync-check

chore(27.I): doc hygiene batch4C - unified DMS+SSOT doc classification
  docs/analysis/DOC_HYGIENE_PHASE27I_CLASSIFICATION.json
  docs/analysis/DOC_HYGIENE_PHASE27I_CLASSIFICATION.md
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
Due: agents-md-sync-check

feat(27.J): add lifecycle metadata columns to control.doc_registry
  migrations/057_control_doc_registry_meta.sql
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
Due: none

feat(27.J): populate doc_registry importance/tags from classification
  scripts/governance/populate_dms_metadata.py
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
Due: agents-md-sync-check

feat(27.J): DMS-exclusive doc lifecycle and guard alignment
  AGENTS.md
  scripts/guards/guard_reality_green.py
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
Due: share-sync-hook, agents-md-sync-check

Path conditions:
  share-sync-hook: any of: (?x)^(
  MASTER_PLAN\.md|
  docs/SSOT/MASTER_PLAN\.md|
  RULES_INDEX\.md|
  docs/SSOT/RULES_INDEX\.md|
  AGENTS\.md|
  README_FULL\.md|
  README\.md|
  docs/SSOT/GPT_SYSTEM_PROMPT\.md|
  docs/runbooks/LM_STUDIO_SETUP\.md|
  docs/runbooks/DB_HEALTH\.md|
  docs/SSOT/webui-contract\.md|
  docs/SSOT/SHARE_MANIFEST\.json
)$

  agents-md-sync-check: any of: (?x)^(
  .*\.py$|
  .*AGENTS\.md$|
  src/.*|
  agentpm/.*|
  webui/.*|
  scripts/.*|
  tests/.*|
  docs/.*
)$

