Repository iog-creator/Gemantria: changes, and which pre-commit hooks are due for each by the changed paths.
All: share-sync-hook, agents-md-sync-check

share-sync-hook:
  name: share sync (auto-sync tracked files)
  entry: bash scripts/guards/share_sync_hook.sh
  language: system
  pass_filenames: false
  stages:
  - commit

agents-md-sync-check:
  name: AGENTS.md sync check (fail-closed)
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && PYTHONPATH=. python scripts/check_agents_md_sync.py --staged'
  language: system
  pass_filenames: false
  stages:
  - commit

feat(gematria): Phase 2 - Ketiv/Qere Policy & Numeric SSOT
  Makefile
  migrations/052_nouns_variants.sql
  schemas/graph.schema.json
  scripts/guards/guard_ketiv_primary.py
  src/core/hebrew_utils.py
  src/ssot/noun_adapter.py
  tests/unit/test_ketiv_primary.py
Due: agents-md-sync-check

docs(gematria): Phase 2 governance artifacts - ADR-002 + conflict analysis
  docs/ADRs/ADR-002-gematria-rules.md
  docs/analysis/KETIV_QERE_POLICY_CONFLICT.md
  scripts/guards/guard_reality_green.py
Due: agents-md-sync-check

docs: Update AGENTS.md sync (stale timestamps fixed)
  agentpm/biblescholar/bible_passage_flow.py
  agentpm/biblescholar/cross_language_semantic_flow.py
  agentpm/biblescholar/search_flow.py
  agentpm/biblescholar/tests/test_reference_parser.py
  agentpm/dms/AGENTS.md
  agentpm/governance/AGENTS.md
  agentpm/handoff/AGENTS.md
  agentpm/reality/check.py
  agentpm/scripts/cleanup_codebase.py
  agentpm/scripts/cleanup_root.py
  agentpm/scripts/docs_archive_apply.py
  agentpm/scripts/docs_classify_direct.py
  agentpm/scripts/generate_tool_embeddings.py
  agentpm/server/AGENTS.md
  agentpm/tests/atlas/test_e95_atlas_links_guard.py
  agentpm/tests/atlas/test_phase_d_autopilot_summary.py
  agentpm/tests/reality/test_capability_envelope_writer.py
  agentpm/tests/reality/test_sessions_summary.py
  pmagent/cli.py
  scripts/exports/export_biblescholar_insights.py
  scripts/exports/export_biblescholar_lexicon.py
  scripts/guards/guard_atlas_compliance_drilldowns.py
  scripts/guards/guard_atlas_violation_browser.py
  scripts/guards/guard_biblescholar_reference.py
  scripts/guards/guard_browser_verification.py
  scripts/guards/guard_control_graph_compliance.py
  scripts/guards/guard_lm_health.py
  scripts/guards/guard_mcp_proof.py
  scripts/guards/guard_mcp_query.py
  scripts/guards/guard_mcp_schema.py
  scripts/mcp/echo_dsn_ro.py
  share/ledger_sync.py
  share/ledger_verify.py
  src/nodes/network_aggregator.py
  tests/cli/test_tools_planning.py
Due: agents-md-sync-check

ci: Update pre-commit to exclude genai-toolbox and markdown files
  .pre-commit-config.yaml
Due: none

ci: Add genai-toolbox to .gitignore to exclude from pre-commit checks
  .gitignore
Due: none

feat(gematria): Phase 2 - Ketiv/Qere Policy & Numeric SSOT (#588)
  .gitignore
  .pre-commit-config.yaml
  Makefile
  docs/ADRs/ADR-002-gematria-rules.md
  docs/analysis/KETIV_QERE_POLICY_CONFLICT.md
  migrations/052_nouns_variants.sql
  pyproject.toml
  schemas/graph.schema.json
  scripts/guards/guard_ketiv_primary.py
  scripts/guards/guard_reality_green.py
  src/core/hebrew_utils.py
  src/ssot/noun_adapter.py
  tests/unit/test_ketiv_primary.py
Due: agents-md-sync-check

feat(db): Phase 3 - Vector Dimension Cleanup
  .pre-commit-config.yaml
  SCHEMA_INDEX.md
  agentpm/biblescholar/tests/AGENTS.md
  agentpm/scripts/state/AGENTS.md
  agentpm/tests/adapters/AGENTS.md
  agentpm/tests/cli/AGENTS.md
  agentpm/tests/db/AGENTS.md
  agentpm/tests/exports/AGENTS.md
  agentpm/tests/extractors/AGENTS.md
  agentpm/tests/html/AGENTS.md
  agentpm/tests/kb/AGENTS.md
  agentpm/tests/knowledge/AGENTS.md
  agentpm/tests/lm/AGENTS.md
  agentpm/tests/phase1/AGENTS.md
  agentpm/tests/reality/AGENTS.md
  agentpm/tests/status/AGENTS.md
  agentpm/tests/system/AGENTS.md
  bible_db_structure.sql
  docs/SSOT/BIBLESCHOLAR_MIGRATION_PLAN.md
  migrations/053_drop_verses_embedding_768.sql
  schemas/biblescholar/SCHEMA_INDEX.md
  schemas/biblescholar/bible_db_structure.sql
  schemas/biblescholar/bible_db_verses_structure.sql
Due: agents-md-sync-check

fix(schema): Remove trailing commas from graph.schema.json
  schemas/graph.schema.json
Due: none

fix(schema): allow additionalProperties in graph-stats schema
  schemas/graph-stats.schema.json
Due: none

feat(db): Phase 3 - Vector Dimension Cleanup (#589)
  SCHEMA_INDEX.md
  agentpm/biblescholar/tests/AGENTS.md
  agentpm/scripts/state/AGENTS.md
  agentpm/tests/adapters/AGENTS.md
  agentpm/tests/cli/AGENTS.md
  agentpm/tests/db/AGENTS.md
  agentpm/tests/exports/AGENTS.md
  agentpm/tests/extractors/AGENTS.md
  agentpm/tests/html/AGENTS.md
  agentpm/tests/kb/AGENTS.md
  agentpm/tests/knowledge/AGENTS.md
  agentpm/tests/lm/AGENTS.md
  agentpm/tests/phase1/AGENTS.md
  agentpm/tests/reality/AGENTS.md
  agentpm/tests/status/AGENTS.md
  agentpm/tests/system/AGENTS.md
  bible_db_structure.sql
  docs/SSOT/BIBLESCHOLAR_MIGRATION_PLAN.md
  migrations/053_drop_verses_embedding_768.sql
  schemas/biblescholar/SCHEMA_INDEX.md
  schemas/biblescholar/bible_db_structure.sql
  schemas/biblescholar/bible_db_verses_structure.sql
  schemas/graph-stats.schema.json
  schemas/graph.schema.json
Due: agents-md-sync-check

feat(phase4): status polling performance optimization
  agentpm/scripts/docs_classify_direct.py
  docs/SSOT/BIBLESCHOLAR_MIGRATION_PLAN.md
  docs/SSOT/PMAGENT_CURRENT_VS_INTENDED.md
  scripts/guards/guard_lm_health.py
  src/services/api_server.py
  webui/orchestrator-shell/useHeaderData.ts
  webui/orchestrator-shell/useSharedSystemStatus.ts
Due: agents-md-sync-check

docs: sync AGENTS.md files per reality.green check
  agentpm/biblescholar/bible_passage_flow.py
  agentpm/biblescholar/cross_language_semantic_flow.py
  agentpm/biblescholar/search_flow.py
  agentpm/biblescholar/tests/test_reference_parser.py
  agentpm/reality/check.py
  agentpm/scripts/cleanup_codebase.py
  agentpm/scripts/cleanup_root.py
  agentpm/scripts/docs_archive_apply.py
  agentpm/scripts/generate_tool_embeddings.py
  agentpm/tests/atlas/test_e95_atlas_links_guard.py
  agentpm/tests/atlas/test_phase_d_autopilot_summary.py
  agentpm/tests/reality/test_capability_envelope_writer.py
  agentpm/tests/reality/test_sessions_summary.py
  pmagent/cli.py
  scripts/exports/export_biblescholar_insights.py
  scripts/exports/export_biblescholar_lexicon.py
  scripts/guards/guard_atlas_compliance_drilldowns.py
  scripts/guards/guard_atlas_violation_browser.py
  scripts/guards/guard_biblescholar_reference.py
  scripts/guards/guard_browser_verification.py
  scripts/guards/guard_control_graph_compliance.py
  scripts/guards/guard_mcp_proof.py
  scripts/guards/guard_mcp_query.py
  scripts/guards/guard_mcp_schema.py
  scripts/mcp/echo_dsn_ro.py
  share/ledger_sync.py
  share/ledger_verify.py
  src/nodes/network_aggregator.py
  tests/cli/test_tools_planning.py
Due: agents-md-sync-check

feat(phase14-rescue): BibleScholar relationship tables & cross-language enhancement
  agentpm/biblescholar/cross_language_flow.py
  agentpm/biblescholar/lexicon_adapter.py
  agentpm/biblescholar/reference_parser.py
  agentpm/biblescholar/relationship_adapter.py
  agentpm/biblescholar/tests/test_cross_language.py
  agentpm/biblescholar/tests/test_lexicon_adapter.py
  agentpm/biblescholar/tests/test_relationship_adapter.py
  config/greek_to_hebrew_strongs.json
  docs/SSOT/PHASE_14_SEMANTIC_RECORD.md
  scripts/db/contextual_search.py
  scripts/db/entity_diagnostic.py
  scripts/db/populate_mark_1_1_greek.py
  share/atlas/control_plane/lm_health_7d.json
  share/atlas/control_plane/lm_indicator.json
  share/atlas/control_plane/lm_insights_7d.json
  share/atlas/control_plane/lm_usage_7d.json
  share/atlas/control_plane/system_health.json
  share/exports/docs-control/archive-candidates.json
  share/exports/docs-control/archive-dryrun.json
  share/exports/docs-control/canonical.json
  share/exports/docs-control/orphans.json
  share/exports/docs-control/summary.json
  share/exports/docs-control/unreviewed-batch.json
  share/pm.snapshot.md
Due: agents-md-sync-check

feat(phase14-rescue): BibleScholar relationship tables & cross-language enhancement (#592)
  agentpm/biblescholar/cross_language_flow.py
  agentpm/biblescholar/lexicon_adapter.py
  agentpm/biblescholar/reference_parser.py
  agentpm/biblescholar/relationship_adapter.py
  agentpm/biblescholar/tests/test_cross_language.py
  agentpm/biblescholar/tests/test_lexicon_adapter.py
  agentpm/biblescholar/tests/test_relationship_adapter.py
  config/greek_to_hebrew_strongs.json
  docs/SSOT/PHASE_14_SEMANTIC_RECORD.md
  scripts/db/contextual_search.py
  scripts/db/entity_diagnostic.py
  scripts/db/populate_mark_1_1_greek.py
  share/atlas/control_plane/lm_health_7d.json
  share/atlas/control_plane/lm_indicator.json
  share/atlas/control_plane/lm_insights_7d.json
  share/atlas/control_plane/lm_usage_7d.json
  share/atlas/control_plane/system_health.json
  share/exports/docs-control/archive-candidates.json
  share/exports/docs-control/archive-dryrun.json
  share/exports/docs-control/canonical.json
  share/exports/docs-control/orphans.json
  share/exports/docs-control/summary.json
  share/exports/docs-control/unreviewed-batch.json
  share/pm.snapshot.md
Due: agents-md-sync-check

feat(phase15-init): Add contextual chunk schema, module skeleton, and placeholder tests
  CHANGELOG.md
  NEXT_STEPS.md
  agentpm/biblescholar/contextual_chunks.py
  agentpm/biblescholar/tests/test_contextual_chunks.py
  docs/SSOT/MASTER_PLAN.md
  docs/SSOT/PM_CONTRACT.md
  docs/SSOT/contextual_chunk.schema.json
  docs/forest/overview.md
  share/MASTER_PLAN.md
  share/agents_md.head.md
  share/doc_registry.md
  share/doc_sync_state.md
  share/doc_version.md
  share/governance_freshness.md
  share/hint_registry.md
  share/kb_registry.md
  share/live_posture.md
  share/next_steps.head.md
  share/planning_context.md
  share/planning_lane_status.md
  share/pm.snapshot.md
  share/pm_contract.head.md
  share/pm_snapshot.md
  share/pm_system_introspection_evidence.md
  share/schema_snapshot.json
  share/schema_snapshot.md
Due: share-sync-hook, agents-md-sync-check

feat(phase15-fetch-layer): Add DB-only contextual fetch orchestration
  agentpm/biblescholar/contextual_fetch.py
  agentpm/biblescholar/tests/test_contextual_fetch.py
Due: agents-md-sync-check

docs: recover missing PDF documentation files from git history
  docs/Building a Robust and Reliable Agentic AI System with DSPy.pdf
  docs/Designing a Multi-Language Biblical Gematria Module.pdf
  docs/Evaluating Gemantria's Postgres Usage and Enhancement Opportunities.pdf
  docs/Geometric Deep Learning for Structured and Relational AI in Gemantria.pdf
  docs/Technical Audit of Gemantria's PostgreSQL & AI Integration.pdf
Due: agents-md-sync-check

docs(layer3): add AI doc ingestion SSOT plan and recovered PDFs
  docs/SSOT/LAYER3_AI_DOC_INGESTION_PLAN.md
Due: agents-md-sync-check

feat(layer3-phase1): add PDF discovery to doc ingestion pipeline
  scripts/governance/ingest_docs_to_db.py
Due: agents-md-sync-check

feat(layer3-phase2): add PDF content extraction to doc ingestion
  pyproject.toml
  scripts/governance/ingest_doc_content.py
Due: agents-md-sync-check

feat(layer3-phase3): add AI classification metadata to document fragments
  agentpm/kb/__init__.py
  agentpm/kb/classify.py
  migrations/048_add_fragment_meta_column.sql
  scripts/governance/classify_fragments.py
Due: agents-md-sync-check

fix(share-sync): enforce DMS-backed cleanup on main
  scripts/sync_share.py
Due: agents-md-sync-check

fix(share-sync): enforce DMS-backed cleanup on main (#594)
  scripts/sync_share.py
Due: agents-md-sync-check

Finalize Layer 3: rescue merge + registry build + SSOT lock-in
  docs/SSOT/LAYER3_DRIFT_RESCUE.md
  docs/SSOT/LAYERS_AND_PHASES.md
  share/kb_registry.json
Due: agents-md-sync-check

Add PM enforcement clause: lock to LAYERS_AND_PHASES.md as SSOT phase tracker
  docs/SSOT/PM_BOOT_CONTRACT.md
Due: agents-md-sync-check

Rollback Layer 4 Phase 4+5 due to vector schema drift; reset SSOT status
  docs/SSOT/LAYERS_AND_PHASES.md
Due: agents-md-sync-check

Mark Layer 4 Phase 4 as COMPLETE after schema-correct 1024-D rebuild
  docs/SSOT/LAYERS_AND_PHASES.md
Due: agents-md-sync-check

Update Phase 5 status: unblocked after Phase 4 completion
  docs/SSOT/LAYERS_AND_PHASES.md
Due: agents-md-sync-check

Implement Layer 4 Phase 5: export fragments and 1024-D embeddings to control-plane
  scripts/code_ingest/export_code_fragments.py
Due: agents-md-sync-check

Mark Layer 4 Phase 5 as COMPLETE in SSOT tracker
  docs/SSOT/LAYERS_AND_PHASES.md
Due: agents-md-sync-check

docs(ssot): add PM handoff protocol and update boot contract
  docs/SSOT/PM_BOOT_CONTRACT.md
  docs/SSOT/PM_HANDOFF_PROTOCOL.md
Due: agents-md-sync-check

fix(share): skip embedding files and large files in JSON-to-MD conversion
  scripts/util/json_to_markdown.py
Due: agents-md-sync-check

Fix NEXT_STEPS BibleScholar exports drift (directory missing)
  NEXT_STEPS.md
Due: none

fix(config): remove share/** from .cursorignore to prevent ignoring share folder
  .cursorignore
Due: none

fix(config): remove share/** from .cursorignore (temporary fix on main until PR #595 merges)
  .cursorignore
Due: none

Revert "fix(config): remove share/** from .cursorignore (temporary fix on main until PR #595 merges)"
  .cursorignore
Due: none

Path conditions:
  share-sync-hook: any of: (?x)^(
  MASTER_PLAN\.md|
  docs/SSOT/MASTER_PLAN\.md|
  RULES_INDEX\.md|
  docs/SSOT/RULES_INDEX\.md|
  AGENTS\.md|
  README_FULL\.md|
  README\.md|
  docs/SSOT/GPT_SYSTEM_PROMPT\.md|
  docs/runbooks/LM_STUDIO_SETUP\.md|
  docs/runbooks/DB_HEALTH\.md|
  docs/SSOT/webui-contract\.md|
  docs/SSOT/SHARE_MANIFEST\.json
)$

  agents-md-sync-check: any of: (?x)^(
  .*\.py$|
  .*AGENTS\.md$|
  src/.*|
  agentpm/.*|
  webui/.*|
  scripts/.*|
  tests/.*|
  docs/.*
)$

