Repository iog-creator/Gemantria: changes, and which pre-commit hooks are due for each by the changed paths.
All: share-sync-hook, agents-md-sync-check

share-sync-hook:
  name: share sync (auto-sync tracked files)
  entry: bash scripts/guards/share_sync_hook.sh
  language: system
  pass_filenames: false
  stages:
  - commit

agents-md-sync-check:
  name: AGENTS.md sync check (fail-closed)
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && PYTHONPATH=. python scripts/check_agents_md_sync.py --staged'
  language: system
  pass_filenames: false
  stages:
  - commit

chore(27.G): kernel coherence refresh — reality.green 18/18
  pmagent/adapters/lm_studio.py
  scripts/guards/guard_oa_reasoning_bridge.py
  share/HANDOFF_KERNEL.json
  share/HANDOFF_KERNEL.md
  share/PM_BOOTSTRAP_STATE.json
  share/PM_BOOTSTRAP_STATE.md
  share/REALITY_GREEN_SUMMARY.json
  share/REALITY_GREEN_SUMMARY.md
  share/SSOT_SURFACE_V17.json
  share/SSOT_SURFACE_V17.md
  share/agents_md.head.md
  share/doc_registry.md
  share/doc_sync_state.md
  share/governance_freshness.md
  share/hint_registry.md
  share/kb_registry.json
  share/live_posture.md
  share/next_steps.head.md
  share/orchestrator_assistant/STATE.json
  share/planning_context.md
  share/planning_lane_status.md
  share/pm_contract.head.md
  share/pm_snapshot.md
  share/pm_system_introspection_evidence.md
  share/schema_snapshot.md
Due: agents-md-sync-check

feat(gemini): enhance GEMINI.md + organize DSPy examples
  GEMINI.md
  examples/dspy/README.md
  examples/dspy/dspy_synthetic_examples.json
Due: none

feat(dspy): convert to JSONL + add AGENTS.md
  examples/dspy/AGENTS.md
  examples/dspy/README.md
  examples/dspy/dspy_synthetic_examples.json
  examples/dspy/dspy_synthetic_examples.jsonl
  examples/dspy/dspy_synthetic_examples_2.jsonl
Due: agents-md-sync-check

feat(dspy): expand training data to 55 examples + document pipeline
  examples/dspy/AGENTS.md
  examples/dspy/README.md
  examples/dspy/dspy_synthetic_examples_1.jsonl
  examples/dspy/dspy_synthetic_examples_3.jsonl
Due: agents-md-sync-check

feat(oa): wire DSPy signatures into reasoning bridge (Phase 28.A)
  GEMINI.md
  docs/SSOT/AGENT_RESEARCH_DSPY.md
  pmagent/oa/AGENTS.md
  pmagent/oa/dspy_signatures.py
  pmagent/oa/reasoning_bridge.py
Due: agents-md-sync-check

feat(phase28b): Wire 8 DSPy reasoning programs with training data
  examples/dspy/guard_failure_interpreter.jsonl
  examples/dspy/handoff_integrity_validator.jsonl
  examples/dspy/multi_turn_kernel_reasoning.jsonl
  examples/dspy/oa_tool_usage_prediction.jsonl
  examples/dspy/ops_block_generator.jsonl
  examples/dspy/phase_transition_validator.jsonl
  examples/dspy/safeops_decision.jsonl
  examples/dspy/share_dms_drift_detector.jsonl
  pmagent/oa/AGENTS.md
  pmagent/oa/dspy_signatures.py
  pmagent/oa/reasoning_bridge.py
  pmagent/tests/oa/__init__.py
  pmagent/tests/oa/test_dspy_signatures.py
  pmagent/tests/oa/test_reasoning_bridge.py
Due: agents-md-sync-check

fix(guards): Auto-create backup + fix OA State circular dependency
  scripts/guards/guard_reality_green.py
Due: agents-md-sync-check

docs(phase28b): Add implementation evidence per Rule 071
  docs/SSOT/PHASE28B_IMPLEMENTATION_EVIDENCE.md
Due: agents-md-sync-check

perf(housekeeping): Skip re-fragmentation for unchanged docs
  scripts/governance/ingest_doc_content.py
Due: agents-md-sync-check

docs: Rewrite README + update PM_KERNEL.json for Phase 28
  README.md
  share/handoff/PM_KERNEL.json
Due: share-sync-hook

fix(guards): Resolve OA State circular dependency completely
  scripts/guards/guard_oa_state.py
  scripts/guards/guard_reality_green.py
Due: agents-md-sync-check

feat(knowledge): Capture guard debugging lessons in DSPy + SSOT
  docs/SSOT/GUARD_DEBUGGING_GOTCHAS.md
  examples/dspy/guard_failure_interpreter_advanced.jsonl
  examples/dspy/multi_turn_kernel_reasoning_advanced.jsonl
Due: agents-md-sync-check

fix(makefile): share.sync auto-creates backup if blocked
  Makefile
Due: none

docs(rule071): Copy PM handoff summary to SSOT
  docs/SSOT/PHASE28_HANDOFF_SUMMARY.md
Due: agents-md-sync-check

docs: Update PM handoff summary with final session commits
  docs/SSOT/PHASE28_HANDOFF_SUMMARY.md
Due: agents-md-sync-check

sync: Update share/pm_boot surfaces with Phase 28 status
  share/PM_BOOTSTRAP_STATE.json
  share/pm_boot/PHASE28_HANDOFF_SUMMARY.md
  share/pm_boot/PM_BOOTSTRAP_STATE.json
  share/pm_boot/PM_KERNEL.json
Due: none

Path conditions:
  share-sync-hook: any of: (?x)^(
  MASTER_PLAN\.md|
  docs/SSOT/MASTER_PLAN\.md|
  RULES_INDEX\.md|
  docs/SSOT/RULES_INDEX\.md|
  AGENTS\.md|
  README_FULL\.md|
  README\.md|
  docs/SSOT/GPT_SYSTEM_PROMPT\.md|
  docs/runbooks/LM_STUDIO_SETUP\.md|
  docs/runbooks/DB_HEALTH\.md|
  docs/SSOT/webui-contract\.md|
  docs/SSOT/SHARE_MANIFEST\.json
)$

  agents-md-sync-check: any of: (?x)^(
  .*\.py$|
  .*AGENTS\.md$|
  src/.*|
  agentpm/.*|
  webui/.*|
  scripts/.*|
  tests/.*|
  docs/.*
)$

