Repository iog-creator/Gemantria: changes, and which pre-commit hooks are due for each by the changed paths.
All: share-sync-hook, agents-md-sync-check

share-sync-hook:
  name: share sync (auto-sync tracked files)
  entry: bash scripts/guards/share_sync_hook.sh
  language: system
  pass_filenames: false
  stages:
  - commit

agents-md-sync-check:
  name: AGENTS.md sync check (fail-closed)
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && PYTHONPATH=. python scripts/check_agents_md_sync.py --staged'
  language: system
  pass_filenames: false
  stages:
  - commit

fix(27.J): restore AGENTS sync and correct DMS cleanup plan
  docs/analysis/DOC_HYGIENE_PHASE27J_MOVES.json
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
Due: agents-md-sync-check

chore: update state artifacts
  docs/forest/overview.md
  share/handoff/PM_SUMMARY.md
Due: agents-md-sync-check

feat(27.J): integrate DMS metadata population into housekeeping
  scripts/governance/ingest_docs_to_db.py
  scripts/governance/populate_dms_metadata.py
Due: agents-md-sync-check

chore: refresh share artifacts via pm.share.artifacts
  share/agents_md.head.json
  share/doc_registry.json
  share/doc_sync_state.json
  share/doc_version.json
  share/governance_freshness.json
  share/hint_registry.json
  share/kb_registry.json
  share/live_posture.json
  share/next_steps.head.json
  share/planning_context.json
  share/planning_lane_status.json
  share/pm_contract.head.json
  share/pm_snapshot.json
  share/schema_snapshot.json
Due: none

chore: update reality green summary
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
Due: none

chore: refresh pm_boot artifacts
  share/pm_boot/AGENTS.md
  share/pm_boot/HANDOFF_KERNEL.json
  share/pm_boot/PM_KERNEL.json
  share/pm_boot/REALITY_GREEN_SUMMARY.json
  share/pm_boot/SHARE_FOLDER_ANALYSIS.md
  share/pm_boot/planning_context.json
Due: agents-md-sync-check

chore: automate pm_boot refresh in pm.share.artifacts
  Makefile
Due: none

fix: update kernel state to reflect reality_green: true
  share/HANDOFF_KERNEL.json
  share/pm_boot/HANDOFF_KERNEL.json
Due: none

chore: finalize kernel handoff artifacts
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
  share/pm_boot/HANDOFF_KERNEL.json
  share/pm_boot/REALITY_GREEN_SUMMARY.json
Due: none

feat(27.L): enforce AGENTS–DMS doc hierarchy and guard invariants
  AGENTS.md
  docs/SSOT/DOC_STRATEGY.md
  scripts/governance/ingest_docs_to_db.py
  scripts/guards/guard_reality_green.py
Due: share-sync-hook, agents-md-sync-check

chore(27.L): second pass - additional DMS terminology corrections
  docs/SSOT/CURSOR_WORKFLOW_CONTRACT.md
  docs/SSOT/DIRECTORY_DUPLICATION_MAP.md
  docs/SSOT/DOC_STRATEGY.md
  docs/SSOT/EXECUTION_CONTRACT.md
  docs/SSOT/PHASE16_LEGACY_PURGE_PLAN.md
  docs/SSOT/PLAN_072_M1_DMS_GUARDS.md
  docs/SSOT/PM_CONTRACT.md
  docs/SSOT/SHARE_FOLDER_STRUCTURE.md
  docs/analysis/DOC_STRATEGY.md
  docs/hints/HINT-DB-002-postgres-not-running.md
  scripts/AGENTS.md
  scripts/cli/gemantria_cli.py
  scripts/guards/guard_docs_db_ssot.py
  scripts/kb/build_kb_registry.py
Due: agents-md-sync-check

chore(27.L): third pass - final DMS terminology corrections
  AGENTS.md
  pmagent/AGENTS.md
  pmagent/repo/logic.py
  scripts/triage_pmagent_dms_master.py
Due: share-sync-hook, agents-md-sync-check

chore(27.L): AGENTS/KB forensics - map KB entries to canonical AGENTS surfaces
  docs/analysis/AGENTS_KB_FORensics.json
  docs/analysis/AGENTS_KB_FORensics.md
  scripts/kb/agents_kb_forensics.py
Due: agents-md-sync-check

fix(27.L): clarify control.doc_registry vs control.kb_document table references
  docs/SSOT/CURSOR_WORKFLOW_CONTRACT.md
  docs/SSOT/EXECUTION_CONTRACT.md
Due: agents-md-sync-check

chore(27.L): agents/kb remediation batch2 - remove ghosts and align registry
  docs/analysis/AGENTS_KB_FORensics.json
  docs/analysis/AGENTS_KB_FORensics.md
  scripts/kb/agents_kb_remediate.py
Due: agents-md-sync-check

chore(27.L): update PM boot surface with latest SSOT docs
  share/pm_boot/AGENTS.md
  share/pm_boot/CURSOR_WORKFLOW_CONTRACT.md
  share/pm_boot/DIRECTORY_DUPLICATION_MAP.md
  share/pm_boot/EXECUTION_CONTRACT.md
  share/pm_boot/PM_CONTRACT.md
  share/pm_boot/REALITY_GREEN_SUMMARY.json
Due: agents-md-sync-check

chore(27.L): AGENTS/KB contract tightening (Batch 3)
  scripts/guards/guard_reality_green.py
  scripts/kb/agents_kb_remediate.py
Due: agents-md-sync-check

fix(27.L): update terminology to pmagent control-plane DMS
  docs/SSOT/DIRECTORY_DUPLICATION_MAP.md
  docs/SSOT/SHARE_FOLDER_ANALYSIS.md
  scripts/guards/guard_cursorignore.py
  share/pm_boot/DIRECTORY_DUPLICATION_MAP.md
  share/pm_boot/SHARE_FOLDER_ANALYSIS.md
Due: agents-md-sync-check

chore(27.M): kernel/share boot surfaces & DMS alignment
  scripts/guards/guard_dms_share_alignment.py
  scripts/guards/guard_share_sync_policy.py
  share/HANDOFF_KERNEL.json
  share/PM_BOOTSTRAP_STATE.json
  share/REALITY_GREEN_SUMMARY.json
  share/SSOT_SURFACE_V17.json
Due: agents-md-sync-check

feat(27.B/C): OA/Console kernel snapshot wiring
  pmagent/cli.py
  pmagent/oa/__init__.py
  pmagent/oa/state.py
  scripts/guards/guard_oa_state.py
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
  share/orchestrator_assistant/STATE.json
Due: agents-md-sync-check

feat(27.C): Console v2 wired to OA kernel state and OA workspace surfaces
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
  share/orchestrator_assistant/STATE.json
  webui/orchestrator-console-v2/AGENTS.md
  webui/orchestrator-console-v2/dist/assets/index-BSg4fMe_.css
  webui/orchestrator-console-v2/dist/assets/index-Blq9koZx.js
  webui/orchestrator-console-v2/dist/assets/index-CHHiYyv-.css
  webui/orchestrator-console-v2/dist/assets/index-HSDs1Ssw.js
  webui/orchestrator-console-v2/dist/index.html
  webui/orchestrator-console-v2/src/components/KernelHealthTile.tsx
  webui/orchestrator-console-v2/src/components/OAWorkspacePanel.tsx
  webui/orchestrator-console-v2/src/components/RightStatusPane.tsx
  webui/orchestrator-console-v2/src/data/tileLoaders.ts
  webui/orchestrator-console-v2/src/data/types.ts
  webui/orchestrator-console-v2/src/styles.css
Due: agents-md-sync-check

chore(27.C): OA state wired into reality.green + Makefile targets
  Makefile
  scripts/AGENTS.md
  scripts/guards/guard_reality_green.py
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
  share/orchestrator_assistant/STATE.json
Due: agents-md-sync-check

docs: Phase 27.B/C implementation evidence
  docs/SSOT/PHASE27BC_IMPLEMENTATION_EVIDENCE.md
Due: agents-md-sync-check

docs: Add Rule 071 - Walkthrough protocol to GEMINI.md
  GEMINI.md
Due: none

chore(27.D): kernel surfaces coherence (PM_BOOTSTRAP_STATE, REALITY_GREEN, OA STATE)
  scripts/guards/guard_oa_state.py
  scripts/pm/generate_pm_bootstrap_state.py
  share/HANDOFF_KERNEL.json
  share/PM_BOOTSTRAP_STATE.json
  share/REALITY_GREEN_SUMMARY.json
  share/SSOT_SURFACE_V17.json
  share/orchestrator_assistant/STATE.json
Due: agents-md-sync-check

docs(27.D): add Phase 27.D implementation evidence
  docs/SSOT/PHASE27D_IMPLEMENTATION_EVIDENCE.md
Due: agents-md-sync-check

docs(27.D): DSPy reasoning programs outline wired to OA runtime and Console v2 docs
  docs/SSOT/PHASE27_B_OA_RUNTIME.md
  share/HANDOFF_KERNEL.json
  share/PM_BOOTSTRAP_STATE.json
  share/REALITY_GREEN_SUMMARY.json
  share/orchestrator_assistant/STATE.json
  webui/orchestrator-console-v2/AGENTS.md
Due: agents-md-sync-check

feat(27.E): OA data model + API contract + OA context surface
  docs/SSOT/PHASE27E_IMPLEMENTATION_EVIDENCE.md
  docs/SSOT/oa/OA_API_CONTRACT.md
  docs/SSOT/oa/OA_DATA_MODEL.md
  docs/SSOT/oa/OA_DIAGNOSTICS_CATALOG.md
  pmagent/oa/state.py
  scripts/guards/guard_oa_state.py
  share/HANDOFF_KERNEL.json
  share/PM_BOOTSTRAP_STATE.json
  share/REALITY_GREEN_SUMMARY.json
  share/oa/CONTEXT.json
  share/orchestrator_assistant/STATE.json
  webui/orchestrator-console-v2/src/data/types.ts
Due: agents-md-sync-check

chore(27.E): DMS alignment for share/oa/ namespace
  docs/SSOT/SHARE_FOLDER_ANALYSIS.md
  scripts/guards/guard_dms_share_alignment.py
Due: agents-md-sync-check

docs(27.E): Add Hygiene Sub-Batch evidence per Rule 071
  docs/SSOT/PHASE27E_IMPLEMENTATION_EVIDENCE.md
Due: agents-md-sync-check

chore(27.E): auto-share Phase 27 evidence into share/ and kernel indices
  scripts/guards/guard_dms_share_alignment.py
  scripts/guards/guard_share_sync_policy.py
  scripts/pm/generate_ssot_surface.py
  share/HANDOFF_KERNEL.json
  share/PHASE27BC_IMPLEMENTATION_EVIDENCE.md
  share/PHASE27D_IMPLEMENTATION_EVIDENCE.md
  share/PHASE27E_IMPLEMENTATION_EVIDENCE.md
  share/PM_BOOTSTRAP_STATE.json
  share/REALITY_GREEN_SUMMARY.json
  share/SSOT_SURFACE_V17.json
  share/orchestrator_assistant/STATE.json
Due: agents-md-sync-check

docs(27.E): add Batch 2 evidence per Rule 071
  docs/SSOT/PHASE27E_IMPLEMENTATION_EVIDENCE.md
Due: agents-md-sync-check

fix(guards): improve reality.green debugging output
  scripts/guards/guard_reality_green.py
Due: agents-md-sync-check

fix(guards): wire remediation hints through DMS hint registry
  scripts/guards/guard_reality_green.py
Due: agents-md-sync-check

feat(27.E): OA tooling interface standardization (Phase 27.E Batch 3)
  docs/SSOT/oa/OA_API_CONTRACT.md
  docs/SSOT/oa/OA_TOOLS_REGISTRY.md
  pmagent/oa/AGENTS.md
  pmagent/oa/state.py
  pmagent/oa/tools.py
  scripts/guards/guard_oa_tools.py
  share/HANDOFF_KERNEL.json
  share/PM_BOOTSTRAP_STATE.json
  share/REALITY_GREEN_SUMMARY.json
  share/SSOT_SURFACE_V17.json
  share/orchestrator_assistant/STATE.json
Due: agents-md-sync-check

feat(27.F): OA↔DSPy reasoning bridge scaffolding and evidence
  Makefile
  docs/SSOT/PHASE27E_BATCH3_IMPLEMENTATION_EVIDENCE.md
  docs/SSOT/PHASE27F_IMPLEMENTATION_EVIDENCE.md
  docs/SSOT/oa/OA_API_CONTRACT.md
  docs/SSOT/oa/OA_REASONING_BRIDGE.md
  docs/analysis/PM_HANDOFF_PROTOCOL.md
  docs/analysis/SHARE_FOLDER_ANALYSIS.md
  pmagent/oa/reasoning_bridge.py
  pmagent/oa/state.py
  scripts/governance/ingest_docs_to_db.py
  scripts/guards/guard_oa_reasoning_bridge.py
  scripts/pm/generate_ssot_surface.py
  share/AGENTS.md
  share/HANDOFF_KERNEL.json
  share/PM_CONTRACT.md
  share/PM_CONTRACT_STRICT_SSOT_DMS.md
  share/REALITY_GREEN_SUMMARY.json
  share/SSOT_SURFACE_V17.json
  share/orchestrator_assistant/STATE.json
  share/scripts_AGENTS.md
Due: agents-md-sync-check

fix(governance): fragment duplication bug + kernel coherence
  CHANGELOG.md
  docs/SSOT/DIRECTORY_DUPLICATION_MAP.md
  docs/SSOT/PHASE27G_IMPLEMENTATION_EVIDENCE.md
  docs/forest/overview.md
  pmagent/adapters/lm_studio.py
  scripts/governance/ingest_doc_content.py
  scripts/governance/ingest_doc_embeddings.py
  share/HANDOFF_KERNEL.json
  share/REALITY_GREEN_SUMMARY.json
  share/orchestrator_assistant/STATE.json
Due: agents-md-sync-check

chore(kernel): regenerate all surfaces for kernel coherence
  share/HANDOFF_KERNEL.json
  share/HANDOFF_KERNEL.md
  share/PM_BOOTSTRAP_STATE.json
  share/PM_BOOTSTRAP_STATE.md
  share/REALITY_GREEN_SUMMARY.json
  share/REALITY_GREEN_SUMMARY.md
  share/SSOT_SURFACE_V17.json
  share/SSOT_SURFACE_V17.md
  share/agents_md.head.md
  share/doc_registry.md
  share/doc_sync_state.md
  share/governance_freshness.md
  share/hint_registry.md
  share/kb_registry.json
  share/live_posture.md
  share/next_steps.head.md
  share/orchestrator_assistant/STATE.json
  share/planning_context.md
  share/planning_lane_status.md
  share/pm_boot/DIRECTORY_DUPLICATION_MAP.md
  share/pm_boot/HANDOFF_KERNEL.json
  share/pm_boot/PM_BOOTSTRAP_STATE.json
  share/pm_boot/REALITY_GREEN_SUMMARY.json
  share/pm_boot/SHARE_FOLDER_ANALYSIS.md
  share/pm_contract.head.md
  share/pm_snapshot.md
  share/pm_system_introspection_evidence.md
  share/schema_snapshot.md
Due: none

fix(governance): add mandatory boot sequence to GEMINI.md (Rule 080)
  GEMINI.md
Due: none

Path conditions:
  share-sync-hook: any of: (?x)^(
  MASTER_PLAN\.md|
  docs/SSOT/MASTER_PLAN\.md|
  RULES_INDEX\.md|
  docs/SSOT/RULES_INDEX\.md|
  AGENTS\.md|
  README_FULL\.md|
  README\.md|
  docs/SSOT/GPT_SYSTEM_PROMPT\.md|
  docs/runbooks/LM_STUDIO_SETUP\.md|
  docs/runbooks/DB_HEALTH\.md|
  docs/SSOT/webui-contract\.md|
  docs/SSOT/SHARE_MANIFEST\.json
)$

  agents-md-sync-check: any of: (?x)^(
  .*\.py$|
  .*AGENTS\.md$|
  src/.*|
  agentpm/.*|
  webui/.*|
  scripts/.*|
  tests/.*|
  docs/.*
)$

